/* font-family: 'Comfortaa', cursive; */
/* font-family: 'IBM Plex Sans Thai', sans-serif; */
body{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    background-color: hsl(216, 48%, 30%);
    margin-top: 5%;
    font-weight: 500;
    overflow-x: hidden;
    overflow-y: hidden;
    /* margin-left: 0;
    margin-right: 0; */
}
.container{
    background-color: rgb(255, 255, 255);
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    width: 500px;
    border-radius: 25px;
    border: solid 2px #000 ;
    
}

.leadboard{
    margin-top: 2vw;
}

h4,h5{
    text-align: center;
    font-weight: 600;
    color: #6B8DC0;
}
#score{
    text-align: right;
}
.table{
    width: 80%;
}

.card{
    margin: 5%;
    border-radius: 25px;
    width: 700px;
    /* min-width: 700px; */
    border: solid 2px #000 ;
    box-shadow: -11px 11px 4px #00000077;
    background-color: #FFF8F8;
}

#in-card{
    font-weight: 700;
    color: #284673;
    font-size: 1.25vw;
    margin-left: 0.5vw;
}
thead{
    background-color: #284673;
    color: white;
}
.container-fluid{
    width: 50%;
    /* margin-left: 15vw; */
}
.btn{
    background-color: #AAC6FB;
    margin-top: 1vw;
    color: #284673;
    width: 13vw;
    border-radius: 2vw;
    font-size: 1.25vw;
    font-weight: 700;
}
.btn:hover{
    background-color: #FFE3ED;
    color: #284673;
    font-weight: 700;
}

.card-text{
    font-size: 1.5vw;
    color: #284673;
}
/* .wrapped-stamp{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.mockup-stamp{
    width: calc(100% / 3);
    height: 75px;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #6B8DC0;
} */



.wave{
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1000;
}

.asset{
    z-index: -100;
}

#lb_plane{
    width: 10vw;
    position: absolute;
    top: 30vw;
    left: 45vw;
}

#lb_circle1{
    position: absolute;
    width: 3vw;
    top: 30vw;
}

#lb_circle2{
    position: absolute;
    width: 3vw;
    top: 5vw;
    left: 45vw;
}

#lb_circle3{
    position: absolute;
    width: 3vw;
    top: 35vw;
    left: 40vw;
}

#lb_star1{
    position: absolute;
    width: 3vw;
    top: 0;
    left: 2vw;
}

#lb_star2{
    position: absolute;
    width: 3vw;
    top: -5vw;
    left: 50vw;
}

#lobby_button2{
    visibility: hidden;
}




/* @media only screen and (max-width: 1800px) {
    #lobby_button2{
        visibility: hidden;
    }
    
    #card_user{
        margin-top: 10%;
        margin-left: 5%;
    }

    #card_score{
        margin-top: 10%;
        margin-right: 5%;
    }


    #lb_plane{
        width: 10vw;
        top: 40vw;
        left: 45vw;
    }
}

@media only screen and (max-width: 1620px) {
    #lobby_button2{
        visibility: hidden;
    }
    #card_user{
        margin-top: 10%;
        margin-left: 3%;
    }

    #card_score{
        margin-top: 10%;
        margin-right: 3%;
    }

    #lb_plane{
        width: 10vw;
        top: 45vw;
        left: 45vw;
    }
} */

@media only screen and (max-width: 1800px) and (min-width: 1620px){
    #lobby_button2{
        visibility: hidden;
    }
    
    #card_user{
        margin-top: 10%;
        margin-left: 5%;
    }

    #card_score{
        margin-top: 10%;
        margin-right: 5%;
        display: flex;
    }


    #lb_plane{
        width: 10vw;
        top: 50vw;
        left: 35vw;
    }
}

@media only screen and (max-width: 1620px) and (min-width: 1261px){
    #lobby_button2{
        visibility: hidden;
    }
    #card_user{
        margin-top: 10%;
        margin-left: 0;
    }

    #card_score{
        margin-top: 11%;
        margin-right: 0;
        display: flex;
    }

    #lb_plane{
        width: 10vw;
        top: 50vw;
    }
}

@media only screen and (max-width: 1260px) and (min-width: 1170px) {

    body{
        overflow-y: scroll;
    }

    #card_user{
        margin-top: 40%;
        margin-left: 20%;
    }

    #card_score{
        margin-top: 0;
        margin-left: 5%;
    }

    #lb_plane{
        width: 15vw;
        top: 30vw;
        left: 15vw;
    }

    .wave{
        bottom: -80%;
    }

    #lobby_button{
        visibility: hidden;
    }

    #lobby_button2{
        visibility:visible;
        display: flex;
        flex-direction: column;
        margin-left:40%;
        margin-top: 20%;
    }

    #lobby_button2 .btn{
        width: 20vw;
        height: 5vw;
    }

    .btn2{
    background-color: #AAC6FB;
    margin-top: 2vw;
    color: #284673;
    width: 20vw;
    height: 5vw;
    border-radius: 2vw;
    font-size: 20pt;
    font-weight: 700;
    text-align: center;
    padding: 1vw;
    }

    #lb_star1{
        width: 4vw;
        top: -2vw;
        left: 30vw;
        z-index: -101;
    }
    
    #lb_star2{
        width: 4vw;
        top: 3vw;
        left: 90vw;
        z-index: -101;
    }

    #cloud7{
        width: 80%;
    }

    #cloud6{
        width: 48%;
    }

    #lb_circle1{
        visibility: hidden;
    }
    
    #lb_circle2{
        visibility: hidden;
    }
    
    #lb_circle3{
        width: 3vw;
        top: 35vw;
        left: 40vw;
    }


}

@media only screen and (max-width: 1169px) and (min-width: 1000px){

    body{
        overflow-y: scroll;
    }

    #card_user{
        margin-top: 40%;
        margin-left: 20%;
    }

    #card_score{
        margin-top: 0;
        margin-left: 5%;
    }

    #lb_plane{
        width: 15vw;
        top: 30vw;
        left: 15vw;
    }

    .wave{
        bottom: -80%;
    }

    #lobby_button{
        visibility: hidden;
    }

    #lobby_button2{
        visibility:visible;
        display: flex;
        flex-direction: column;
        margin-left:40%;
        margin-top: 20%;
    }

    #lobby_button2 .btn{
        width: 20vw;
        height: 5vw;
    }

    .btn2{
    background-color: #AAC6FB;
    margin-top: 2vw;
    color: #284673;
    width: 20vw;
    height: 5vw;
    border-radius: 2vw;
    font-size: 20pt;
    font-weight: 700;
    text-align: center;
    padding: 1vw;
    }

    #lb_star1{
        width: 4vw;
        top: -2vw;
        left: 30vw;
        z-index: -101;
    }
    
    #lb_star2{
        width: 4vw;
        top: 3vw;
        left: 90vw;
        z-index: -101;
    }

    #cloud7{
        width: 80%;
    }

    #cloud6{
        width: 48%;
    }

    #lb_circle1{
        visibility: hidden;
    }
    
    #lb_circle2{
        visibility: hidden;
    }
    
    #lb_circle3{
        width: 3vw;
        top: 35vw;
        left: 40vw;
    }


}

@media only screen and (max-width: 800px) and (min-width: 768px){
    body{
        overflow-y: scroll;
    }

    #card_user{
        margin-top: 40vw;
        margin-left: 3vw;
    }

    #card_score{
        margin-top: 0vw;
        margin-left: 3vw;
    }

    #lb_plane{
        width: 15vw;
        top: 30vw;
        left: 15vw;
    }

    .wave{
        bottom: -60vw;
    }

    #lobby_button{
        visibility: hidden;
    }

    #lobby_button2{
        visibility:visible;
        display: flex;
        flex-direction: column;
        margin-left:40%;
        margin-top: 20%;
    }

    #lobby_button2 .btn{
        width: 20vw;
        height: 5vw;
    }

    .btn2{
    background-color: #AAC6FB;
    margin-top: 2vw;
    color: #284673;
    width: 20vw;
    height: 5vw;
    border-radius: 2vw;
    font-size: 20pt;
    font-weight: 700;
    text-align: center;
    padding: 1vw;
    }

    #lb_star1{
        width: 4vw;
        top: -2vw;
        left: 30vw;
        z-index: -101;
    }
    
    #lb_star2{
        width: 4vw;
        top: 3vw;
        left: 90vw;
        z-index: -101;
    }

    #cloud7{
        width: 80%;
    }

    #cloud6{
        width: 48%;
    }

    #lb_circle1{
        visibility: hidden;
    }
    
    #lb_circle2{
        visibility: hidden;
    }
    
    #lb_circle3{
        width: 3vw;
        top: 35vw;
        left: 40vw;
    }


}

@media only screen and (max-width: 767px) and (min-width: 676px) {

    #in-card{
        font-size: 10pt;
    }

    body{
        overflow-y: scroll;
    }

    #profile_pic{
        width: 23vw;
    }

    #stamp{
        width: 8vw;
        margin-left: 2vw;
    }

    #card_user{
        margin-top: 40vw;
        margin-left: 12vw;
    }

    #card_score{
        margin-top: 0;
        margin-left: 2VW;
    }

    #lb_plane{
        width: 15vw;
        top: 30vw;
        left: 15vw;
    }

    .wave{
        /* width: 100vw; */
        bottom: -60vw;
    }

    #lobby_button{
        visibility: hidden;
    }

    #lobby_button2{
        visibility:visible;
    }

    #lobby_button2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vw;
    }

    #lobby_button2 .btn{
        width: 25vw;
        height: 8vw;
    }

    .btn2{
    background-color: #AAC6FB;
    margin-top: 2vw;
    color: #284673;
    width: 20vw;
    height: 5vw;
    border-radius: 2vw;
    font-size: 15pt;
    font-weight: 700;
    text-align: center;
    padding: 1vw;
    }

    #lb_star1{
        width: 4vw;
        top: -2vw;
        left: 30vw;
        z-index: -101;
    }
    
    #lb_star2{
        width: 4vw;
        top: 3vw;
        left: 90vw;
        z-index: -101;
    }

    #cloud7{
        width: 80%;
    }

    #cloud6{
        width: 48%;
    }

    #lb_circle1{
        visibility: hidden;
    }
    
    #lb_circle2{
        visibility: hidden;
    }
    
    #lb_circle3{
        width: 3vw;
        top: 35vw;
        left: 40vw;
    }
}

@media only screen and (max-width: 675px) and (min-width: 630px) {

    #in-card{
        font-size: 10pt;
    }

    body{
        overflow-y: scroll;
    }

    #profile_pic{
        width: 23vw;
    }

    #stamp{
        width: 8vw;
        margin-left: 2vw;
    }

    #card_user{
        margin-top: 40vw;
        margin-left: 8vw;
    }

    #card_score{
        margin-top: 0;
        margin-left: 2VW;
    }

    #lb_plane{
        width: 15vw;
        top: 30vw;
        left: 15vw;
    }

    .wave{
        /* width: 100vw; */
        margin-bottom: -10vw;
    }

    #lobby_button{
        visibility: hidden;
    }

    #lobby_button2{
        visibility:visible;
    }

    #lobby_button2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vw;
    }

    #lobby_button2 .btn{
        width: 25vw;
        height: 8vw;
    }

    .btn2{
    background-color: #AAC6FB;
    margin-top: 2vw;
    color: #284673;
    width: 20vw;
    height: 5vw;
    border-radius: 2vw;
    font-size: 15pt;
    font-weight: 700;
    text-align: center;
    padding: 1vw;
    }

    #lb_star1{
        width: 4vw;
        top: -2vw;
        left: 30vw;
        z-index: -101;
    }
    
    #lb_star2{
        width: 4vw;
        top: 3vw;
        left: 90vw;
        z-index: -101;
    }

    #cloud7{
        width: 80%;
    }

    #cloud6{
        width: 48%;
    }

    #lb_circle1{
        visibility: hidden;
    }
    
    #lb_circle2{
        visibility: hidden;
    }
    
    #lb_circle3{
        width: 3vw;
        top: 35vw;
        left: 40vw;
    }

}

@media only screen and (max-width: 629px) and (min-width: 600px) {

    #in-card{
        font-size: 10pt;
    }

    body{
        overflow-y: scroll;
    }

    #profile_pic{
        width: 23vw;
    }

    #stamp{
        width: 8vw;
        margin-left: 2vw;
    }

    #card_user{
        margin-top: 40vw;
        margin-left: 3vw;
    }

    #card_score{
        margin-top: 0;
        margin-left: 2VW;
    }

    #lb_plane{
        width: 15vw;
        top: 30vw;
        left: 15vw;
    }

    .wave{
        /* width: 100vw; */
        margin-bottom: -10vw;
    }

    #lobby_button{
        visibility: hidden;
    }

    #lobby_button2{
        visibility:visible;
    }

    #lobby_button2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vw;
    }

    #lobby_button2 .btn{
        width: 25vw;
        height: 8vw;
    }

    .btn2{
    background-color: #AAC6FB;
    margin-top: 2vw;
    color: #284673;
    width: 20vw;
    height: 5vw;
    border-radius: 2vw;
    font-size: 15pt;
    font-weight: 700;
    text-align: center;
    padding: 1vw;
    }

    #lb_star1{
        width: 4vw;
        top: -2vw;
        left: 30vw;
        z-index: -101;
    }
    
    #lb_star2{
        width: 4vw;
        top: 3vw;
        left: 90vw;
        z-index: -101;
    }

    #cloud7{
        width: 80%;
    }

    #cloud6{
        width: 48%;
    }

    #lb_circle1{
        visibility: hidden;
    }
    
    #lb_circle2{
        visibility: hidden;
    }
    
    #lb_circle3{
        width: 3vw;
        top: 35vw;
        left: 40vw;
    }

}

@media only screen and (max-width: 599px) and (min-width: 425px) {

    #in-card{
        font-size: 10pt;
    }

    body{
        overflow-y: scroll;
    }

    #profile_pic{
        width: 23vw;
    }

    #stamp{
        width: 8vw;
        margin-left: 2vw;
    }

    #card_user{
        margin-top: 40vw;
        margin-left: 3vw;
    }

    #card_score{
        margin-top: 0;
        margin-left: 2VW;
    }

    #lb_plane{
        width: 15vw;
        top: 30vw;
        left: 15vw;
    }

    .wave{
        /* width: 100vw; */
        margin-bottom: -10vw;
    }

    #lobby_button{
        visibility: hidden;
    }

    #lobby_button2{
        visibility:visible;
    }

    #lobby_button2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vw;
    }

    #lobby_button2 .btn{
        width: 25vw;
        height: 8vw;
    }

    .btn2{
    background-color: #AAC6FB;
    margin-top: 2vw;
    color: #284673;
    width: 20vw;
    height: 5vw;
    border-radius: 2vw;
    font-size: 15pt;
    font-weight: 700;
    text-align: center;
    padding: 1vw;
    }

    #lb_star1{
        width: 4vw;
        top: -2vw;
        left: 30vw;
        z-index: -101;
    }
    
    #lb_star2{
        width: 4vw;
        top: 3vw;
        left: 90vw;
        z-index: -101;
    }

    #cloud7{
        width: 80%;
    }

    #cloud6{
        width: 48%;
    }

    #lb_circle1{
        visibility: hidden;
    }
    
    #lb_circle2{
        visibility: hidden;
    }
    
    #lb_circle3{
        width: 3vw;
        top: 35vw;
        left: 40vw;
    }

}

@media only screen and (max-width: 425px) and (min-width: 320px) {
    
}
