body{
    background-color: #284673;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    
    /* height: 100vh; */
    min-height: 100vh;
}
.container-fluid{
    overflow-y: hidden;
    position: relative;
    min-height: 100vh;
}
#star{
    position: absolute;
    /* height: 40%; */
    width: 3%;
    left: 0px;
    top:0px;
    animation : translate-star 1.25s ease-in-out ;
}

#bottom{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0;
    animation : translate 4s ease-in-out infinite;
    /* bottom: -10vh; */
}
@keyframes translate {
0% {transform: translateY(0px);}
50% {transform: translateY(20px);}
100% {transform: translateY(0px);}
}

@keyframes translate-star {
from {transform: translateY(-500px);}
to {transform: translateY(0px);}
}
#top{
    position: absolute;
    width: 80%;
    right: 0px;
}
h4{

    font-size: 1.75rem;
    text-align: center;
    color: white;
}
h5{
    font-size: 1.25rem;
    text-align: center;
    color: white;
}
#topic{
    /* position: relative; */
    padding-top: 6vh;
}/* margin-left: 35vh; */

.button{
    font-weight: 500;
    font-size: 1.5vw;
    color: white;
    position: absolute;
    display: inline-block;
    left: 2.5vh;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    transition:  0.15s ease-out;
}
.button:hover{
    color: #FFE3ED;
    text-decoration: none;
}
i{
    position: relative;
    top: -.5vw;
    left: 0px;
}
#blank_table{
    background-color: white;
    max-width: 80%;
    border-radius: 3rem;
    font-size: 2rem;
}
.row{
    /* margin-top: 5rem; */
    align-items: center;
}
.dot {
height: 25vw;
width: 25vw;
background-color: #FFE3ED;
border-radius: 50%;
display: inline-block;
margin-top: 2vw;
transition:  0.25s ease-in-out;
/* display: none; */
}
.dot:hover{
    /* background-color: #ADC9FF; */
    transform: scale(1.05);
    cursor: pointer;
}
.dot1{
    height: 25vw;
    width: 25vw;
    background-color: #ADC9FF;
    border-radius: 50%;
    display: inline-block;
    margin-top: 2vw;
    transition:  0.25s ease-in-out;
    /* display: none; */
}
.dot1:hover{
        /* background-color: #FFE3ED; */
        transform: scale(1.05);
        cursor: pointer;
}
.dot-display-player1 {
    height: 15rem;
    width: 15rem;
    /* background-color: #FFE3ED; */
    border-radius: 50%;
    display: inline-block;
    margin-top: 2vw;
}
.dot-display-player2 {
    height: 15rem;
    width: 15rem;
    /* background-color: #a9335c; */
    border-radius: 50%;
    display: inline-block;
    margin-top: 2vw;
}
#grid{
    position: relative;
    margin-top: 5vh;
    width: 100%;
    
}


#bottom-phone{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0;
    display: none;
}
#pic{
    margin-top: 5vw;
    width: 60%;
}
#container-table{
    margin-top: 5rem;
}
.modal{
    font-family: 'ibm plex sans thai', 'sans serif';
    font-weight: 500;
}
.modal-footer,.modal-header{
    border: 0;
}
.modal-body{
    color: black;
    /* margin-top: 2rem; */
    font-size: 1.25rem;
}
span > #text-modal{
    margin-top: 0.5rem;
    color: black;
    text-align: left;
    font-size: 1rem;
}

.bi{
    font-size: 2rem;
}
@media only screen and (max-width: 1024px) {
    .dot-display-player1,.dot-display-player2 {
        height: 10rem;
        width: 10rem;
    }
}
@media only screen and (max-width: 915px) {
    .dot,.dot1{
        height: 25rem;
        width: 25rem;
    }
    #grid{
        width: 100%;
        display: flex;
        flex-direction: columns;
    }
    #pic{
        margin-top: 4rem;
    }
    .btn{
        font-size: 1.25rem;
    }
    h4,.button{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.25rem;
    }
    #top-right{
        width: 60%;
    }
    #star{
        width: 5%;
    }
    #topic{
        padding-top: 15vh;
    }
    #bottom{
        display: none;
    }
    #bottom-phone{
        width: 80%;
        display: block;
    }
    .arrive{
        margin-top: 1vh;
        font-size: 1.5rem;
    }
    .button{
        font-size: 5vw;
        margin-left: 3vw;
        }
    #grid{
        padding-bottom: 15rem;
    }
    .dot-display-player1,.dot-display-player2 {
        height: 8rem;
        width: 8rem;
    }
    #container-table{
        flex-direction: column-reverse;
        padding-bottom: 15rem;
    }
    #blank_table{
        height: 25rem;
        /* border-radius: 1.25rem; */
    }
    .xo-wrap-game{
        height: 25rem;
    }
    /* .xo-blog{
        font-size: 2rem;
    } */
    }

    @media only screen and (max-width: 768px) {
            #container-table{
                width: 100%;
            }
            span{
                display: inline-block;
                text-align: left;
                justify-content: left;
            }
            span > #player,span > #display-name{
                text-align: left;
            }
        }
    @media only screen and (max-width: 768px) {
        #container-table{
            width: 100%;
        }
        .col{
            margin-top: 2rem;
        }

        #blank_table{
           width: 20rem;
        }
        #blank_table{
            height: 20rem;
            /* border-radius: 1.25rem; */
        }
        .xo-wrap-game{
            height: 20rem;
        }
        .xo-blog{
            font-size: 2rem;
        }
    }

@media only screen and (max-width: 475px) {
    .dot,.dot1{
        height: 15rem;
        width: 15rem;
    }
    #pic{
        width: 50%;
        margin-top: 4rem;
    }

    .button{
        font-size: 5vw;
        /* margin-left: -1rem; */
    }
        #topic{
                width: 80%;
    }
    #grid{
        margin-top: 0vh;
        padding-bottom: 5rem;
    }
    #blank_table{
        height: 15rem;
        border-radius: 1.25rem;
    }
    .xo-wrap-game{
        height: 15rem;
    }
    .xo-blog{
        font-size: 2rem;
    }
    
}

@media only screen and (max-width: 375px) {
    .btn{
        font-size: 1rem;
        width: 15em;
    }
    h4,.button{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.25rem;
    }
    .button{
        margin-left: 0;
    }

}
@media only screen and (max-width: 320px) {
    .dot,.dot1{
        width: 12rem;
        height: 12rem;
    }
    #blank_table{
        height: 10rem;
        border-radius: 1.25rem;
    }
    .xo-wrap-game{
        height: 10rem;
    }
    .xo-blog{
        font-size: 2rem;
    }

}